<h1>Add a Model</h1>

<%= form_for @model do |model|  %>
	<p><%= model.text_field :name, placeholder:'Enter Name of Model... ' %></p>
	<%= model.submit %>
<% end %>
<br/> <br/>
<%= link_to 'index', root_path %>